<div class="emp_table_container">
{% if table %}
<table id="emp_table" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Send Email</th>
        </tr>
    </thead>
    <tbody>

    {% for e in emp %}
        <tr>
            <td><a href="payslip/employee/?id={{ e.id }}">{{ e.name }}</a></td>
            <td>{{ e.email }}</td>
            <td>{{ e.active }}</td>
            <td>{{ e.send_email }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% else %}

        Name: {{ emp.name }}<br/>
        Email: {{ emp.email }}<br/>
        Active: {{ emp.active }}<br/><br/>
        Files: <br/>
        <table>
            <thead>
                <tr>
                    <th>File</th>
                    <th>Date Released</th>
                </tr>
            </thead>
            <tbody>
                {% for p in payslips %}
                    <tr>
                        <td>{{ p.name }}</td>
                        <td>{{ p.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endif %}
</div>

