{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

{% endblock head %}

{% block content %}
    <h1>HOME CONTENT</h1>
{% endblock content %}

{% block scripts %}

    <script>
        var isi = isi || {};
        isi.apiUrls = {
            "employees": "{% url 'employee' %}"
        };
    </script>

    <script src='{% static "js/jquery.dataTables.min.js" %}'></script>
    <script src='{% static "events.js" %}'></script>

{% endblock scripts %}
