{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap.min.css' %}">

{% endblock head %}

{% block content %}

    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="#" id="employee_tab">Employees</a>
        </li>
    </ul>

    <hr/>

    <div id="container_emp_table"></div>

{% endblock content %}

{% block scripts %}

    <script>
        var isi = isi || {};
        isi.apiUrls = {
            "employees": "{% url 'employee' %}"
        };
    </script>

    <script src='{% static "js/jquery.dataTables.min.js" %}'></script>
    <script src='{% static "events.js" %}'></script>

{% endblock scripts %}
