{% load staticfiles %}

<!--Shared scripts on pages-->
<script src='{% static "js/jquery.min.js" %}'></script>
<script src='{% static "js/jquery-ui.js" %}'></script>
<script src='{% static "js/jquery.ui.widget.js" %}'></script>
<script src='{% static "js/jquery.iframe-transport.js" %}'></script>
<script src='{% static "js/jquery.cookie.min.js" %}'></script>

<script src='{% static "js/bootstrap.min.js" %}'></script>
<script src='https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js'></script>
<script type="text/javascript" src='{% static "js/amplify.min.js" %}'></script>
