{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Payslip - Send Email</title>

{% endblock head %}

{% block content %}

    <div class="send-form">

        <div id="payslip-select-form">
            {% csrf_token %}
            {{ form }}
            <input type="submit"
                   value="Update Payslips Table"
                   id="foldercontent"
                   class="btn btn-success">
        </div>

        <div id="email-app"></div>

    </div>

{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src='{% static "js/underscore-min-1.7.0.js" %}'></script>
    <script type="text/javascript" src='{% static "js/amplify.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/react.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/JSXTransformer.js" %}'></script>
    <script type="text/javascript" src='{% static "js/reflux.min.js" %}'></script>

    <script>
        $('#foldercontent').on('click', function(){
            $.ajax({
                url: '{% url 'folder_content' %}',
                type: 'post',
                data: {
                    'id': $('#id_payslip_path').val()
                }
            }).done(function( data ) {
                emailApp.setEmployeeList( data );
            });
        });
    </script>

    <script type="text/javascript" src='{% static "js/dist/email.js" %}'></script>

{% endblock scripts %}
