{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Payslip - Send Email</title>

{% endblock head %}

{% block content %}

    <div class="send-form">

        <form method="post"
              action="/payslip/send/">
            {% csrf_token %}
            {{ form }}
            <input type="submit"
                   value="Send Payslip"
                   class="btn btn-success">
        </form>

        <div id="email-app"></div>

    </div>

{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src='{% static "js/amplify.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/react.min.js" %}'></script>
	<script type="text/javascript" src='{% static "js/JSXTransformer.js" %}'></script>
	<script type="text/javascript" src='{% static "js/reflux.min.js" %}'></script>

    <script type="text/jsx" src='{% static "email.jsx" %}'></script>

{% endblock scripts %}
