{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Payslip - Send Email</title>

{% endblock head %}

{% block content %}

    <div class="send-form">

        <div id="payslip-select-form">
            {% csrf_token %}
            <input id="id_payslip_path"
                   class="form-control"
                   type="text"
                   placeholder="Type here: 2016">
            <div class="glyphicon glyphicon-refresh icon-refresh-animate"></div>
        </div>

        <div id="email-app"></div>

    </div>

{% endblock content %}

{% block scripts %}

    <script type="text/javascript" src='{% static "js/underscore-min-1.7.0.js" %}'></script>
    <script type="text/javascript" src='{% static "js/amplify.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/react.min.js" %}'></script>
    <script type="text/javascript" src='{% static "js/JSXTransformer.js" %}'></script>
    <script type="text/javascript" src='{% static "js/reflux.min.js" %}'></script>

    <script>
        $(document).ready(function () {
            var id_payslip_path = $('#id_payslip_path');
            var inputLoadingIcon = $('.icon-refresh-animate', '#payslip-select-form');

            var showInputLoadingIcon = function(show) {
                if (show) {
                    inputLoadingIcon.show();
                } else {
                    inputLoadingIcon.hide();
                }
            };

            var initAutoComplete = function (){
                id_payslip_path.bind( "keydown",
                    function( event ) {
                        // don't navigate away from the field on tab when selecting an item
                        if ( event.keyCode === $.ui.keyCode.TAB &&
                            $( this ).autocomplete( "instance" ).menu.active ) {
                            event.preventDefault();
                        }
                        // Enter key = update payslips table
                        if ( event.keyCode === 13 ) {
                            get_paylips_list();
                            event.preventDefault();
                        }
                    })
                    .autocomplete({
                        source: function( request, response ) {
                            showInputLoadingIcon( true );
                            $.ajax({
                                url: 'api/search/',
                                type: 'get',
                                data: {
                                    'payslip': request.term
                                }
                            }).done(function( result ) {
                                showInputLoadingIcon( false );
                                var formattedData = _.map( result.data, function( data ) {
                                    return data[ 1 ] + " [" + data[ 0 ] + "]";
                                });
                                response( formattedData );
                            });
                        },
                        focus: function() {
                            // prevent value inserted on focus
                            return false;
                        },
                        select: function( event, ui ) {
                            this.value = ui.item.value || "";
                            get_paylips_list( this.value );
                            return false;
                        }
                    }
                );
            };

            var get_paylips_list = function ( payslipId ){
                var id = payslipId ? payslipId : id_payslip_path.val();
                id = id.match(/\[(\d+)\]/);
                id = id && id[ 1 ] ? parseInt( id[ 1 ] ) : null;

                if ( id !== null ) {
                    showInputLoadingIcon( true );

                    $.ajax({
                        url: '{% url 'folder_content' %}',
                        type: 'post',
                        data: {
                            'id': id
                        }
                    }).done(function( data ) {
                        showInputLoadingIcon( false );
                        emailApp.setEmployeeList( data );
                    });
                }
            };

            // Initialize autocomplete
            initAutoComplete();
            showInputLoadingIcon( false );
        });
    </script>

    <script type="text/javascript" src='{% static "js/dist/email.js" %}'></script>

{% endblock scripts %}
