<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="width:100%;">
    <div style="height:300px; width:100%;">
        <img src="http://oi58.tinypic.com/az8468.jpg" style="width:100%; height:100%;">
    </div>
    <br/>
    <section style="font-size: 20px;">
        &nbsp;Greetings, {{ employee_name }}! <br/><br/>
    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attached is your pay slip for the ff duration: {{ duration }} <br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you and have a good day.
    </section>
</body>
</html>