<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="width:100%;">
    <div style="height:300px; width:100%;">
        <img src="{{ logo_url }}" style="width:100%; height:100%;">
    </div>
    <br/>
    <section style="font-size: 20px;">
        {{ greetings|safe }} <br /><br />
        <p>{{ body_message|safe }}</p>
    </section>
    <br />
    --
    <p>
       <em>{{ disclaimer|safe }}</em>
    </p>
    --
    <br />
    <address>
      <strong>{{ company_name }}</strong><br />
        {{ company_address|safe }}<br />
        <abbr title="Website">Website: </abbr> {{ company_site }} <br />
        <abbr title="Email">Email:</abbr> {{ company_email }} <br />
        <abbr title="Phone">Tel. no.:</abbr> {{ company_phone }} <br />
    </address>

</body>
</html>