<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body style="width:100%;">
    <div style="height:300px; width:100%;">
        <img src="http://oi58.tinypic.com/az8468.jpg" style="width:100%; height:100%;">
    </div>
    <br/>
    <section style="font-size: 20px;">
        &nbsp;Greetings, {{ employee_name }}! <br/><br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attached is your pay slip for the following duration: {{ duration }} <br/><br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thank you and have a good day.
    </section>
    <br />
    --
    <p>
        <em>This a system generated email that may contain confidential information for the sole use of the intended recipient/s.
        If you are not the intended recipient, please contact the sender, delete this email and maintain the confidentiality of what you may have read.
        </em>
    </p>
    --
    <address>
      <strong>Innovuze Solutions, Inc.</strong><br />
        8th Level, Gateway Tower,<br />
        Limketkai Center, Lapasan,<br />
        Cagayan de Oro City <br />
        <abbr title="Website">Website: </abbr> http://www.innovuze.com
        <abbr title="Email">Email:</abbr> contact@innovuze.com
        <abbr title="Phone">Tel. no.:</abbr> (088) 324-0454
    </address>

</body>
</html>