{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Payslip - Upload</title>

    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">

{% endblock head %}

{% block content %}

    <div class="upload-form">

        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Select Payslips (pdf) to upload</span>
            <!-- The file input field used as target for the file upload widget -->
            <input id="fileupload" type="file" name="files[]" multiple>
        </span>

        <span>
            <input id="missing-payslip-button"
                   class="btn btn-primary"
                   type="button"
                   value="Get Missing Payslips List" />
            <span id="missing-payslip-date" class="well well-sm"/>
        </span>

        <br/>
        <br/>

        <!-- The global progress bar -->
        <div id="progress" class="progress">
            <div class="progress-bar progress-bar-success"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files" class="files"></div>

        <div id="upload-alert" class="alert alert-success" role="alert">Upload Complete!</div>

        <br/>

        <!--Upload success result-->
        <div class="col-md-6">
            <div id="upload-success" class="panel panel-success">
                <div class="status panel-heading"></div>
                <table class="result table"></table>
            </div>
        </div>

        <!--Upload error result-->
        <div class="col-md-6">
            <div id="upload-error" class="panel panel-danger">
                <div class="status panel-heading">error</div>
                <table class="result table"></table>
            </div>
        </div>

        <!--Missing payslips list-->
        <div class="col-md-12">
            <div id="missing-payslip-list" class="panel panel-danger">
                <div class="status panel-heading">Missing Payslips:</div>
                <ul class="result list-group"></ul>
            </div>
        </div>

    </div>

{% endblock content %}

{% block scripts %}

    <script src='{% static "js/jquery.fileupload.js" %}'></script>
    <script type="text/javascript" src='{% static "js/underscore-min-1.7.0.js" %}'></script>

    <script>

        var csrfToken = "{{ csrf_token }}";

    </script>
    <script src='{% static "upload.js" %}'></script>

{% endblock scripts %}
