{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}

    <title>Employee Profile</title>

    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">

{% endblock head %}

{% block content %}
    <h3>Employee Profile</h3>

    <br/>
    <div class="employee_details">
        Name: {{ emp.name }}<br/>
        Email: {{ emp.email }}<br/>
        Active: {{ emp.active }}<br/><br/>
        Payslips:
    </div>

    <table id="payslip_table" class="table-hover">
        <thead>
            <tr>
                <th>File</th>
                <th>Date Released</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in payslips %}
                <tr>
                    <td>{{ p.name }}</td>
                    <td>{{ p.date }}</td>
                    <td>
                        <button class="btn btn-success">Resend</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

{% block scripts %}
    <script>
        $('#payslip_table').dataTable({
            'bSort': true,
            'bPaginate': true,
            'sPaginationType': 'full_numbers'
        });
    </script>
{% endblock %}

