* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

input[type=checkbox] {
    cursor: pointer;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    flex: 0 0 auto;
}

.content-container {
    flex: 1;
    position: relative;
}

.content-container .sidenav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    overflow: auto;
}

.content-container .content {
    position: absolute;
    top: 0;
    left: 20%;
    height: 100%;
    width: 80%;
    overflow: auto;
}

/* Footer */
.footer {
    height: 0;
    width: 100%;
    flex: 0 1 auto;
}

/* Content: upload email */
.content #upload-success .result,
.content #upload-error .result,
.content #missing-payslip-list .result {
    height: 180px;
    overflow: auto;
}

/* Employee */
.employee_details {
    font-size: 18px;
}

.tbl_img{
    width: 30px;
    height: 30px;
    display: none;
}

.logs_tbl{
    display:none;
}

/* Content: send email */
.content .send-form,
.content #email-app-inner-container {
    height: 100%;
    position: relative;
}

.send-form #payslip-select-form {
    z-index: 2;
    position: relative;
}

.send-form #email-app {
    height: 100%;
    width: 100%;
    padding-top: 50px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

#email-app #send-email-table {
    height: 90%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
}

#email-app #send-email-table table {
    height: 100%;
}

#email-app #send-email-table tbody {
    overflow: auto;
}

#email-app #send-email-button {
    height: 10%;
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 90%;
    left: 0;
}
.lbl-icon {
    font-size: 21px;
    margin-top: 17px;
    text-align: left;
    margin-left: 15px;
}

/* */

#page-wrapper {
    border-left: 1px solid #ddd;
}
/* Icons */
.icon-refresh-animate {
    animation-name: rotateThis;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}
