.home {
    padding: 10px;
}

.home-content {
    margin-top: 20px;
}

#container_emp_table .emp_table_container {
    padding: 10px;
}

.upload-form, .send-form, .send-message, .emp_table_container {
     padding: 100px 20px;
}
